<!--
%numpage%
%company_rc%
%company_iban%
%company_bic%

%company_vat%
%company_email%
%company_phone%
%company_fax%
%company_website%
-->
<div id="footer">
	<div class="numpage text-xs">%numpage%</div>
	<div class="info">
		<div class="w40 left">
			<div class="text-s">%company_rc%</div>
			<div class="text-s">%company_iban%</div>
			<div class="text-s">%company_bic%</div>
			<div class="text-s">%company_naf%</div>
		</div>
		<div class="w20 left" style="text-align:center;font-size:7px;">
			<img class="" src="../images/qualibat.png" width="2cm"><br>
			<strong>%company_qualibat%</strong>
		</div>
		<div class="w40 right">
			<div class="text-s">%company_phone%</div>
			<div class="text-s">%company_email%</div>
			<div class="text-s">%company_insurance%</div>
		</div>
	</div>
</div>